@import "./../../css/util.scss";


.project-display {
  min-height: 75vh;
  margin-bottom: 55px;
}

.project-name {
  @include color-shadow;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 4rem;
  width: fit-content;
  padding: 8px;
  font-size: 50px;

  @include md {
    font-size: 60px;
  }
}

.project-description {
  margin-left: 100px;
  margin-right: 100px;
  width: fit-content;
  font-size: 25px;

}


.technologies-used-content {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;

  @include lg {
    display: flex;
    flex-direction: row;
  }
}

.extra-component {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.technology {
  @include shadow;
  width: fit-content;
}

.technologies-used-header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.project-display-pictures {
  // use grid to display the pictures
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 40px;

  @media (min-width: 1600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 2380px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

.hidden {
  opacity: 0;
  transition: all 0.75s ease-in-out;
  transform: translateX(-100px);
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: none;
  transform: none;
}

.features {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  @include shadow;
}

.project-picture {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  margin-top: auto;
  margin-bottom: auto;
  @include color-shadow;
  width: 500px;

  @include md {
    width: 600px;
  }
  
}