.github-button {
  color: #f5f5f5;
}

.project-display {
  min-height: 75vh;
  margin-bottom: 55px;
}

.project-name {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(22, 127, 239, 0.5), 0 0 15px 5px rgba(107, 241, 174, 0.7);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 4rem;
  width: fit-content;
  padding: 8px;
  font-size: 50px;
}
@media (min-width: 768px) {
  .project-name {
    font-size: 60px;
  }
}

.project-description {
  margin-left: 100px;
  margin-right: 100px;
  width: fit-content;
  font-size: 25px;
}

.technologies-used-content {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}
@media (min-width: 992px) {
  .technologies-used-content {
    display: flex;
    flex-direction: row;
  }
}

.extra-component {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.technology {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
}

.technologies-used-header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.project-display-pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 40px;
}
@media (min-width: 1600px) {
  .project-display-pictures {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 2380px) {
  .project-display-pictures {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hidden {
  opacity: 0;
  transition: all 0.75s ease-in-out;
  transform: translateX(-100px);
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: none;
  transform: none;
}

.features {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 10px;
}

.project-picture {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(22, 127, 239, 0.5), 0 0 15px 5px rgba(107, 241, 174, 0.7);
  width: 500px;
}
.project-picture:hover {
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .project-picture {
    width: 600px;
  }
}

.try {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  transition: all 0.25s ease-in-out;
  margin-top: 20px;
  font-size: 25px;
}
@media (min-width: 768px) {
  .try {
    font-size: 25px;
  }
}
.try:hover {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(22, 127, 239, 0.5), 0 0 15px 5px rgba(107, 241, 174, 0.7);
  background-color: #2c2c2c;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.repo-link {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  transition: all 0.25s ease-in-out;
  margin-top: 20px;
  font-size: 25px;
}
@media (min-width: 768px) {
  .repo-link {
    font-size: 25px;
  }
}
.repo-link:hover {
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(22, 127, 239, 0.5), 0 0 15px 5px rgba(107, 241, 174, 0.7);
  background-color: #2c2c2c;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

/*# sourceMappingURL=ProjectDisplay.css.map */
