@import "./../../css/util.scss";


.project-display {
  min-height: 100vh;
}

.project-name {
  @include shadow;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 4rem;
  width: fit-content;
}

.project-description {

}

.project-images {

}

.project-image {

}