@import "./../../css/util.scss";

.github-link {
  @include shadow-no-shadow;
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5rem;
  &:hover {
    @include color-shadow-red;
    transform: translateX(10px);
  }
}