@import "./../../css/util.scss";

.projects {
  
}

.lambdascript-in-out {
  @include shadow;
  height: fit-content;
}

.lambdascript-demo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.lambdascript-input {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.lambdascript-input-text {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.lambdascript-output-text {
  @extend .lambdascript-input;  
}

.lambdascript-demo-text {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}