@import "./../../css/util.scss";

#projects {
  margin-top: 16px;
}

.ls-ex-desc {
  margin-bottom: 16px;

}

.ls-demo {
  @include color-shadow;
  background-color: #282b30;
  min-width: 50vw;
  min-height: 15vh;
  color: greenyellow;
  padding: 20px;
  border-style: solid;

  @include md {
    font-size: 12px;
  
  }
}

.ls-demo-text {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 20px;

  @include lg {
    font-size: 25px;

  }
}

.ls-pair {
  @include shadow;
  height: fit-content;
}

.lambdascript-demo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100vw;
  overflow: wrap;
}

.ls-input{
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  @include shadow;
  margin: auto
  
}

.ls-output {
  @extend .ls-input; 
  
}

.lambdascript-demo-text {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.ls-demo-instance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @include shadow;

}