@import "./../../css/util.scss";

#welcome {
  margin-top: 20px;
  height: fit-content;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#brief-intro {
  @include shadow-no-padding;
}

.welcome-element {
  margin-top: 20px;

  @include lg {
    margin-left: 20px;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  @include xl {
    margin-left: 0px;
  }
}

#welcome-content {
  height: fit-content;
  @include shadow-no-padding;
  width: 500px;
  border-radius: 10px;
}

.first-welcome-line {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  color: $slate;
}

.second-welcome-line {
  margin-left: auto;
  margin-right:auto;
  width: fit-content;
  color: $slate;
}

.third-welcome-line {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: $slate;
}

#im-a-phrase {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  color: $slate;
}

.portrait {
  @include shadow-no-padding;
  width: 500px;
  height: 500px;
  flex: 0 0 200px;
}

.first-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include xl {
    flex-direction: row;
  }
  margin-left: 20px;
  margin-right: 20px;
}

.second-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    flex-direction: row;
  }

  @include xl {
    flex-direction: column;
  }

}

.intro {
  @include shadow-no-padding;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    width: 92%;
  }

  @include xl {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 35px;
  }
}