@import "./../../css/util.scss";

#welcome {
  height: 100vh;
  width: 100vw;
  margin-top: 25vh;
}

.first-welcome-line {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  color: $slate;
}

.second-welcome-line {
  margin-left: auto;
  margin-right:auto;
  width: fit-content;
  color: $slate;
}

.third-welcome-line {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: $slate;
}

#im-a-phrase {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  color: $slate;
}