@import "./../../css/util.scss";

#nav {
  @include shadow;
  display: flex;
  margin-right: auto;
  justify-content: space-evenly;
  background-color: $light-background;
}

.nav-button {
  @include shadow-no-shadow;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;

  &:hover {
    @include color-shadow;
    cursor: pointer;
    background-color: $background-color-2;
    color: white;
  }
  margin-top: auto;
  margin-bottom: auto;
}

.email-button {
  width: fit-content;
  height: fit-content;
  align-self: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    @include shadow;
  }
}


.contact-me {
  display: flex;
  flex-direction: row;

}

.contact-me-header {
  height: fit-content;
  width: fit-content;
  align-self: center;
  margin-right: 10px;
}

