@import "./../../css/util.scss";

#education {
  height: fit-content;
}

.college-education {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 25px;
}


.college-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.college-header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.education-content {
  font-size: 30px;
  display: grid;
}

.education-header {
  font-size: 40px;
  font-weight: bold;
}

.courses {
  display: flex;
  //grid-template-columns: 1fr;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.course {
  font-size: 16px;
  max-width: 25%;
}