@import "./css/util.scss";

#welcome {
  height: 100vh;
}

#projects {
  height: 100vh;
}

#contact {
  height: 100vh;
}

#education {
  height: 100vh;
}

#experience {
  height: 100vh;
}

#courses {
  height: 100vh;
}